<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - Formetric - Forms with Built-In Insights</title>

    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Editing: {{title}}</h1>
    <p>Form ID: {{formId}}</p>
    <p>Created At: {{createdAt}}</p>

    <div id="question-list">
        <h2>Questions:</h2>
        <ul id="questions">
            {{#if questions.length}}
            <!-- JavaScript will dynamically load questions if any exist -->
            {{else}}
            <li>No questions available yet.</li>
            {{/if}}
        </ul>
    </div>


    <script>
        const questionsData = {{questions}};
    </script>
</body>
</html>